<h1><%= @ingredient.name %> Ingredient Page</h1>

<p>You have some <%= @ingredient.name %> to use.</p>

<h3>Recipes Using This Ingredient</h3>

<ul>
  <% @ingredient.recipes.each do |recipe| %>
    <li><%= link_to recipe.name, recipe_path(recipe) %></li>
  <% end %>
</ul>