<form action="" method="POST" role="form">
  <legend>What's In Your Cookbook?</legend>

  <div class="form-group">
    <label for="">Add one ingredient from your cookbook.</label>
    <input type="text" class="form-control" id="" placeholder="Type one main ingredient">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>